<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>관리 시스템 대시보드</title>
</style>
</head>
<body>
   <nav>
      <h2>SMHRD 요양병원<br>안전 관제시스템</h2>
      <br>
      <br>
      <ul>
         <li>대시보드</li>
         <li>병실 현황</li>
         <li><a th:href="@{templates/monitoring}"  style="text-decoration: none; color: black">실시간 모니터링</a></li>
         <li>알림 센터</li>
      </ul>
      
      <br>
      <span style="color: gray">carepose 1.0.0</span>
   </nav>

   <main>
      <header>
         <div class="header-title">
            <h2>6병동</h2>
            <p>실시간 환자 모니터링 현황</p>
         </div>
         <div class="header-info">
            <p>현재 시간: 오전 9:56:03</p>
         </div>
      </header>

      <div class="status-grid">
         <div class="status-card">
            <span class="dot" style="background-color: var(--blue)"></span>
            <div class="count">0</div>
            <div class="label">전체 환자</div>
         </div>
         <div class="status-card">
            <span class="dot" style="background-color: var(--green)"></span>
            <div class="count">0</div>
            <div class="label">정상</div>
         </div>
         <div class="status-card">
            <span class="dot" style="background-color: var(--yellow)"></span>
            <div class="count">0</div>
            <div class="label">주의</div>
         </div>
         <div class="status-card">
            <span class="dot" style="background-color: var(--red)"></span>
            <div class="count">0</div>
            <div class="label">위험</div>
         </div>
      </div>

      <div class="section-box">
         <p style="display: flex; justify-content: right">
            <span class="alarm-badge"><a>🔔 새로운 알림 0건</a></span>
         </p>
         <div class="bed-grid">
            <div ><h3 style="color: #3f4034">최근 이벤트</h3></div>
            <div><h3 style="color: #3f4034">자세 변경 알림</h3></div>
         </div>
         <div class="alert-container">
            <div class="alert-list">
               <div class="alert-item white">
               <span> 00:00 &nbsp; <b> 601C </b> &nbsp; 메시지 </span>
               <button class = "confirm-btn">기록 확인</button>
               </div>
               <div class="alert-item black">
               <span> 00:00 &nbsp; 508A &nbsp; 메시지 </span>
               <button class = "confirm-btn">기록 확인</button>
               </div>
               <div class="alert-item black">
               <span> 00:00 &nbsp; 503C &nbsp; 메시지 </span>
               <button class = "confirm-btn">기록 확인</button>
               </div>
               
            </div>
            
            
            
            <div class="alert-list">
               <div class="alert-item red">
                  <span>14:30 &nbsp; <b>103호 B</b> &nbsp;
                     체위 변경 필요 (2시간 초과)
                  </span>
                  <button class="confirm-btn">처리 완료</button>
               </div>
               <div class="alert-item red">
                  <span>14:30 &nbsp; <b>103호 B</b> &nbsp;
                     체위 변경 필요 (2시간 초과)
                  </span>
                  <button class="confirm-btn">처리 완료</button>
               </div>
               <div class="alert-item red">
                  <span>14:25 &nbsp; <b>101호 D</b> &nbsp;
                     체위 변경 필요 (2시간 초과)
                  </span>
                  <button class="confirm-btn">처리완료</button>
               </div>
               <div class="alert-item yellow">
                  <span>14:15 &nbsp; <b>101호 B</b> &nbsp;
                     자세 유지 시간 주의
                  </span>
                  <button class="confirm-btn">처리완료</button>
               </div>
            </div>
         </div>
      </div>
      

      <div class="bed-status-container">
      
               <div class="bed-grid">
            <div class="bed-card bed-green">환 자 관 리</div>
            <div class="bed-card bed-red">실시간 모니터링</div>
         </div>
      </div>
   </main>
</body>
</html>